<ion-header>
    <div class="header d-flex align-items-center">
        <div [routerLink]="mainPageLink" class="outline-0 d-flex align-items-center mr-5 cursor-pointer">
            <div class="ml-1 ml-xl-5">
                <img alt="leaderboard logo" class="logo mr-2" src="../../../../assets/icon/leaderboard-trophy-icons/cup.png">
            </div>
            <div [innerHTML]="title" class="title">
            </div>
        </div>
        <div class="nav-bar d-flex h-100 ml-2">
            <div *ngFor="let item of navItems" [routerLink]="item.link"
                 class="nav-item text-white d-flex align-items-center py-0 mr-3 h-100 cursor-pointer outline-0">
                <span *ngIf="item.isNavbarLevelItem"
                      class="d-none d-lg-inline-block font-weight-bolder">{{item.title}}</span>
            </div>
        </div>
        <div [routerLink]="reportIssuePageLink"
             class="report-issue-btn cursor-pointer py-0 px-1 ml-auto d-none d-lg-inline-block">
            Report issue
        </div>
        <div appClickOutside (clickOutside)="controlMenuBox('close')" (click)="controlMenuBox('toggle')" class="h-50 ml-auto ml-lg-3 position-relative cursor-pointer">
            <img alt="menu box button" class="h-100" src="../../../../assets/icon/menu-buttons/dots-menu.svg">
            <app-menu-box *ngIf="menuBoxVisibility" [menuItemList]="navItems"></app-menu-box>
        </div>
        <div appClickOutside (clickOutside)="controlDropDownMenu('close')" (click)="controlDropDownMenu('toggle')" class="ml-3 mr-xl-5 dropdown-menu-btn d-flex position-relative mr-1">
            <img alt="knoldus logo" class="knoldus-logo d-none d-sm-block"
                 src="../../../../assets/icon/knoldus-logo/knoldus-logo-transparent.png"/>
            <img alt="knoldus logo" class="knoldus-logo d-block d-sm-none"
                 src="../../../../assets/icon/knoldus-logo/knoldus-just-logo.png"/>
            <div class="arrow-down my-auto ml-1"></div>
            <div *ngIf="dropdownMenuVisibility"
                 class="dropdown-menu-container position-absolute bg-white">
                <div (click)="openForm()" class="dropdown-menu-item p-2 border-bottom border-light">Add Contribution
                </div>
                <div *ngIf="isAdmin" [routerLink]="['/','admin']" class="dropdown-menu-item p-2 border-bottom border-light">Admin
                </div>
                <div (click)="onLogout()" class="dropdown-menu-item p-2">Logout</div>
            </div>
        </div>
    </div>
</ion-header>
