ion-content {
  --background: #f5f5fa;
  font-family: 'Poppins', sans-serif;
  color: #2a2a2a;
}

.page-wrapper {
  .name-title {
    font-size: 2em;
    border-bottom: 3px solid #2B35A8;
    color: #071348;
  }
}
