ion-card {
  border-radius: 5px;

  ion-card-header {
    padding-top: 1rem;
    padding-bottom: 0;

    ion-card-title {
      font-weight: normal;
    }
  }
}

@media only screen and (max-width: 959px) {
    span {
      font-size: 0.72em;
    }
}
