<ion-content>
    <div class="content-container d-flex justify-content-center align-items-center">
        <div class="login-container border-primary">
            <div class="row mb-4">
                <div class="mx-auto">
                    <img alt="knoldus logo" class="knoldus-logo" src="./assets/icon/knoldus-logo-transparent.png">
                </div>
                <h1 class="title mx-auto ion-text-center font-weight-bolder">LEADERBOARD</h1>
            </div>
            <div class="row">
                <div class="sign-in-btn card p-3 col-10 col-sm-12 mx-auto">
                    <span class="mx-auto font-weight-bolder">Sign in with Google</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
