ion-content {
  height: 100vh;
  --background: #f5f5fa;
}

.container-fluid {
  font-family: 'Poppins', sans-serif;
  color: #071348;
}

.scrolling-wrapper{
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .score-card {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0.5rem;
    min-width: 200px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .rank-badge {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      font-size: 1.1rem;
    }

    .first {
      background: #f6fbd7;
      color: #af9019;
    }

    .second {
      background: #eafbff;
      color: #017295;
    }

    .third {
      background: #fef6eb;
      color: #9f5f18;
    }

    .knolder-name {
      font-size: 0.9rem;
      color: #3d3c53;
    }

    .monthly-score {
      font-size: 1.3rem;
      color: #6435b8;
    }

    .monthly-score-heading {
      font-size: 0.7rem;
      color: #2d195c;
    }

    .divider {
      width: 1px;
      height: 20px;
      border: 1px solid black;
    }
  }
}
