<app-headers [backBtn]="false"></app-headers>

<ion-content>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <h1>
                    Hall of Fame
                </h1>
                <div class="row card p-3 border-0 my-4" *ngFor="let data of list">
                    <div class="col-12">
                        {{data.month}}, {{data.year}}
                    </div>

                    <div class="col-12 scrolling-wrapper d-flex w-100 h-100 py-3">
                        <div class="score-card d-flex flex-column align-items-center p-2 h-100"
                             *ngFor="let subData of data.leaders; let i = index">
                            <div class="my-1 rank-badge d-flex justify-content-center align-items-center"
                                 [ngClass]="{'first' : i === 0, 'second': i >= 1 && i < 3,  'third': i > 2}">
                                {{subData.monthlyRank}}
                            </div>

                            <div class="knolder-name font-weight-bolder my-1 text-center">
                                {{subData.knolderName}}
                            </div>

                            <div class="my-1 monthly-score">
                                {{subData.monthlyScore}}
                            </div>

                            <div class="my-1 monthly-score-heading">
                                Monthly Score
                            </div>

                            <div class="text-center my-1" style="font-size: .6em">
                                <div class="col-12">
                                    <span class="text-secondary"> Overall Score: </span>
                                    <span style="color: #4a09ab">{{subData.overallScore}}</span>
                                </div>
                                <!--<div class="divider mx-1 d-none d-lg-block"></div>-->
                                <div class="col-12">
                                    <span class="text-secondary"> Overall Rank: </span>
                                    <span style="color: #4a09ab">{{subData.overallRank}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
