<app-headers title="Details of {{authorDetails.authorName}}"></app-headers>
<ion-content>
  <ion-card>
    <div>{{authorHeaders[1].title}}: {{authorDetails.score}}</div>
    <div>{{authorHeaders[2].title}}: {{authorDetails.rank}}</div>
    <div>{{authorHeaders[3].title}}: {{authorDetails.monthlyScore}}</div>
    <div>{{authorHeaders[4].title}}: {{authorDetails.monthlyRank}}</div>
    <div>{{authorHeaders[5].title}}: {{authorDetails.monthlyStreak}}</div>
  </ion-card>
   <ion-button (click)="closeModal()" color="light" expand="full">Close</ion-button>
</ion-content>



