.main-container {
  padding: 0;
  width: 100%;
  background-color: #FAF8FB;

  .sidebar-col {
    margin-left: -1rem;
    margin-top: -1rem;
  }

  .main-content {
    width: 100%;

    .tabs {
      margin-left: 33%;

      .tab-bar {
        width: 29vw;
        display: flex;
        border-radius: 5px 5px 5px 5px;
        border: .1em #0074D9 solid;
        background-color: white;

        .tab {
          font-size: 1.3em;
          color: #0074D9;
          width: 33.4%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-left: .05em #0074D9 solid;
          border-right: .05em #0074D9 solid;
        }

        .tab:hover {
          cursor: pointer;
        }

        .selected {
          background-color: #0074D9;
          color: white;
        }
      }
    }
  }
}

ion-grid {
  padding-right: 0;
  margin-right: 0;

  ion-content {
    --ion-background-color: #FAF8FB;
    height: 100vh;
  }
}

@media only screen and (max-width: 959px) {
  .sidebar {
    display: none;
  }

  .main-container {
    .main-content {
      .tabs {
        margin-left: 4%;

        .tab-bar {
          width: 95vw;
          height: 5vh;

          .tab {
            font-size: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .tab-bar {
    width: 95vw;
    height: 5vh;

    .tab {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
