<ion-content>
<ion-grid class="main-container">
    <ion-row>
        <ion-col class="sidebar-col" size-md="0" size-lg="2" size-sm="0" size-xs="0" size-xl="2">
            <app-sidebar class="sidebar"></app-sidebar>
        </ion-col>
        <ion-col class="main-content" size-md="12" size-lg="10" size-sm="12" size-xs="12" size-xl="10">
            <app-headers title="LEADERBOARD"></app-headers>
            <ion-row class="cards-row">
                <ion-col *ngFor="let data of cardData" size-lg="3" size-md="6" size-xs="6">
                    <app-card [cardData]="data" class="card"></app-card>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <app-table [tableRows]="employeeData" [dataKeys]="dataKeys" [tableHeaders]="tableHeaders" ></app-table>
</ion-grid>
</ion-content>
