.main-container {
  font-family: 'Open Sans';
  padding: 0;
  width: 100%;
  background-color: #FAF8FB;

  .main-content {

    .cards-row {
      margin-top: 1em;
    }

    width: 100%;

  }
}

ion-content {
  --ion-background-color: #FAF8FB;
  height: 100vh;
  ion-grid {
    padding: 0 !important;
    margin: 0 !important;
  }
  ion-col {
    margin: 0 !important;
    padding: 0 !important;
  }
}
