.table-block {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;

  .table-block-content {
    padding: 20px 20px;

    label {
      margin-bottom: 20px;

      .search {
        border: 3px solid #28a8e8;
        padding: 5px;
        height: 40px;
        border-radius: 5px;
      }
    }

    th {
      padding: 20px 20px;
      font-size: 1.1em;
      vertical-align: center;
    }

    tr:hover {
      cursor: pointer;
    }

    td {
      padding: 20px;
      font-size: 1.2em;
      width: 10%;
    }

    .first-td {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 720px) {
  .table-block {

    .table-block-content {

      th {
        padding: 10px 10px;
        font-size: 1em;
      }

      td {
        padding: 10px;
        font-size: 1em;
      }
    }
  }
}
