.title {
  font-weight: bold;
  color: black;
  padding-bottom: 0.3em;
  text-align: justify;
}
​,
ion-row:hover {
  box-shadow: 0.5em 0.5em 0.5em rgba(68, 68, 68, 0.6);
  border-left: 0.2em solid blue;
  padding: 0.3em;
}
​,
ion-col {
  box-shadow: var(--ion-color-step-500);
  color: #1e1e1e;
  height: 3em;
}

.odd{
  background-color: #E8E8E8;
}
.even{
  background-color: white;
}
