<div class="table-block">
    <div class="table-block-content">
        <div class="table-responsive">
            <div>
                    <ngx-datatable class="material sorting" [rows]="tableRows" [columns]="columns" [sortType]="'multi'"
                                   [columnMode]="'force'" [headerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
                                   *ngFor="let tableRow of tableRows" (click)="presentModal(tableRow.knolderId)">
                    </ngx-datatable>
            </div>
        </div>
    </div>
</div>
