<app-headers [backBtn]=true></app-headers>
<ion-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-11 mx-auto">
                <h1 class="pb-3 mb-4">Report an issue</h1>
                <p>
                    If you are seeing any data related issue on Leaderboard, please raise a ticket on Keka about it.</p>
                <div class="col-12 col-lg-10 card bg-white p-4 border-0">
                    <p>Follow the steps below to tell us about the issue you have encountered.</p>
                    <div class="my-2">
                        1. Go to <span (click)="openKeka()"
                                       class="text-primary font-weight-bolder cursor-pointer">Keka.</span>
                    </div>
                    <div class="my-2">
                        2. In the "Me" section, go to<span class="font-weight-bolder"> Helpdesk/My Tickets.</span>
                    </div>
                    <div class="my-2">
                        3. Raise a New Ticket.
                    </div>
                    <div class="my-2">
                        4. Select category as "Leaderboard Data", and describe your issue. We will get back to you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
