ion-content {
  height: 100vh;
  --background: #f5f5fa;
  font-family: 'Poppins', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 2rem;
  color: #071348;
  border-bottom: 3px solid #2B35A8;
}

p {
  font-size: 1.2rem;
  text-align: justify;
}
