<div class="card border-0" *ngIf="colorScheme || barPadding || yAxisLabel">
    <ngx-charts-bar-vertical-stacked [barPadding]=barPadding
                                     [results]="result"
                                     [scheme]="colorScheme"
                                     [showYAxisLabel]="true"
                                     [trimXAxisTicks]="false"
                                     [xAxis]="true"
                                     [yAxis]="true"
                                     [yAxisLabel]= yAxisLabel>
    </ngx-charts-bar-vertical-stacked>
</div>
