<div class="tribe-summery-card card border-0 h-100 cursor-pointer pb-0">
    <div class="card-header border-0 px-3 pb-0 pt-0 bg-white">
        <h4 class="py-1 pl-2">
            {{tribeSummeryDetails.name}}
            <span class="d-block">{{tribeSummeryDetails.memberCount}} members </span>
        </h4>
    </div>
    <div class="card-body pl-4 pr-0 pt-3 pb-0">
        <div class="tribe-detail mb-3">
            <div class="detail-value-box text-dark shadow-sm">
                {{tribeSummeryDetails.allTimeScore}}
            </div>
            <div class="ml-2 text-dark detail-name">
                All time score
            </div>
        </div>
        <div class="tribe-detail my-3">
            <div class="detail-value-box text-dark shadow-sm">
                {{tribeSummeryDetails.monthlyScore}}
            </div>
            <div class="ml-2 text-dark detail-name">
                Monthly score
            </div>
        </div>
        <div class="tribe-detail my-3">
            <div class="detail-value-box text-dark shadow-sm">
                {{tribeSummeryDetails.memberAvg}}
            </div>
            <div class="ml-2 text-dark detail-name">
                Per Member Score
            </div>
        </div>
        <div class="view-details px- py-2 text-secondary font-weight-lighter align-self-end ">
            View details >
        </div>
    </div>
</div>
