<ion-content class="page-wrapper" [fullscreen]="true">
    <div class="float-right last-update-timestamp w-100 text-right">Last updated: {{currentDate | date:'dd MMMM yyyy'}}</div>
    <div class="main-container col-12 col-xl-11 p-0">
            <div #knoldusStats (mouseenter)="mouseEnterOnKnoldusStatsHandler($event)"
                 class="position-relative knoldus-stats-container mb-4 mt-5 px-0">
                    <app-legend-tooltip [legendData]="knoldusStatsLegend"
                                        [positionX]="knoldusStatsLegendPosX"
                                        [positionY]="knoldusStatsLegendPosY"
                                        class="shadow-sm knoldus-stats-tooltip">
                    </app-legend-tooltip>
                <div *ngIf="reputation" class="scrolling-wrapper contribution-color">
                    <div *ngFor="let key of knoldusStatsReputationKeys" class="knoldus-stats-card card mx-1 mx-lg-0 py-2 border-0">
                        <div class="contribution-title text-center mb-1">
                            {{key | splitCamelCase | titlecase}}
                        </div>
                        <div class="d-flex contribution-count-block justify-content-between my-1 w-75 mx-auto">
                            <div class="contribution-count contribution-left">{{reputation[key].monthly}}</div>
                            <div class="contribution-count contribution-right">{{reputation[key].allTime}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-card class="leaderboard-table w-100 ion-no-padding ion-no-margin shadow-none bg-white">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center py-2">
                        <div class="col-7 col-md-4 col-lg-3 py-1 current-month-signifier">
                            Summary of {{ currentDate | date: 'MMMM yyyy'}}
                        </div>
                        <div class="col-5 col-md-2 col-lg-2 py-1 scoring-info">
                            <div class="btn btn-outline-primary scoring-info-btn float-right float-md-left py-1 popover-wrapper">
                                 Scoring
                                <div *ngIf="boostedScoreCount > 0" class="badge badge-pill badge-danger position-absolute boost-notification d-flex align-items-center">
                                <img alt="shuttle" src="../../../assets/icon/shuttle-white.svg"/>
                                <span class="ml-1 font-weight-bolder">{{boostedScoreCount}}</span>
                                </div>
                                <div class="scoring-info-table">
                                    <div class="popover-content">
                                        <table class="popover-message">
                                            <tr>
                                                <th>Contribution</th>
                                                <th>Points</th>
                                            </tr>
                                            <tr *ngFor="let key of scoringInfoKeys"
                                                [ngClass]="{'boosted-score': scoringInfoData[key].pointsMultiplier > 1}">
                                                <td>{{key | splitCamelCase | titlecase}}</td>
                                                <td>
                                                    {{scoringInfoData[key].points}}
                                                    <span class="badge badge-pill badge-warning" *ngIf="scoringInfoData[key].pointsMultiplier > 1">
                                                        x{{scoringInfoData[key].pointsMultiplier}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-bar-container col-12 col-md-6 py-1 col-lg-7">
                            <label class="p-0 m-0 col-12 col-md-8 float-right">
                                <input [formControl]="searchBar"
                                       class="form-control w-100" placeholder="Search" type="text">
                                <img alt="search-logo" class="search-img" src="../../../assets/icon/search.svg"/>
                            </label>
                        </div>
                    </div>
                </div>
                <app-table [tableRows]="knoldersReputationList | employeeFilter: 'knolderName': searchBar.value"></app-table>
            </ion-card>
        </div>
</ion-content>

