.header {
  box-shadow: 0 0 34px -5px rgba(0, 0, 0, 0.35);
  height: 50px;
  background-color: #2B35A8;
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.back-btn-container {
  width: 20px;
}

.arrow-left {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  padding: 6px;
}

.logo {
  height: 27px;
  background-color: transparent;
  margin-bottom: 4px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

.logout-btn-dropdown {
  cursor: pointer;
}

.knoldus-logo {
  height: 27px;
  background-color: transparent;
}

.logout-btn {
  border: 1px solid black;
  z-index: 1;
  top: 100%;
  margin-top: 9px;
  margin-left: -40px;
  cursor: pointer;
  width: 150px
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

@media only screen and (max-width: 576px) {
  .logout-btn {
    margin-left: -30px;
    width: 70px
  }
}
