ion-header {
  box-shadow: 0 4 4 -5 rgba(133, 133, 133, 1);
  height: 10vh;
  background: linear-gradient(90deg, rgba(46, 99, 196, 1) 45%, rgba(27, 47, 185, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  ion-title {
    padding: 0 !important;
    color: white;
    text-align: left;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    span {
      margin-right: 10px;
      font-size: 1.5em;
      font-weight: bold;
    }

    .logo-icon {
      height: 40px;
      margin: 0 20px 0 15px;
    }

    .knoldus-logo {
      height: 30px;
      margin-top: 1px;
      margin-right: 25px;
    }
  }

  ion-toolbar {
    --background: translucent;
  }
}

@media only screen and (max-width: 992px) {

  ion-header {
    height: 8vh;

    ion-title {
      width: 100%;

      span {
        font-size: 1.4em;
      }
    }
  }
}

@media only screen and (max-width: 540px) {

  ion-header {
    height: 8vh;

    ion-title {
      text-align: right;

      span {
        font-size: 1.2em;
      }

      .logo-icon {
        height: 35px;
      }

      .knoldus-logo {
        display: none;
      }
    }
  }

}
