ion-header {
  background-color: var(--ion-color-primary-contrast);
  box-shadow: 0 4 4 -5 rgba(133,133,133,1);

  ion-title {
    color: var(--ion-color-warning-contrast);
    background-color: var(--ion-color-primary-contrast);
    text-align: center;

    span {
      font-size: 1.9em;
      font-weight: bold;
    }
  }

  ion-toolbar {
    --background: translucent;
  }
}

@media only screen and (max-width: 959px) {

  ion-header {

    ion-title {

      span {
        font-size: 1.4em;
      }
    }
  }
}
