<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-row class="cell-class ion-grid-header">
          <ion-col class="col-class">
            <div class="bar bar-header bar-positive">
              <h6 class="title">Score Drilldown</h6>
            </div>
          </ion-col>
          <ion-col class="col-class">
            <div class="bar bar-header bar-positive">
              <h6 class="title">Joe</h6>
            </div>
          </ion-col>
          <ion-col>
            <div class="bar bar-header bar-positive">
              <h6 class="title"></h6>
            </div>
          </ion-col>
          <ion-col>
            <div class="bar bar-header bar-positive">
              <h6 class="title"></h6>
            </div>
          </ion-col>

        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="cell-class ion-grid-content">
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div class="link-set">
              << March 2020 >>
            </div>
          </ion-col>
          <ion-col>
            <div class="link-set">
              All Time
            </div>
          </ion-col>

        </ion-row>

        <ion-row class="cell-class ion-grid-content">
          <ion-col>
            <div class="text-set">
              Month Score
            </div>
          </ion-col>
          <ion-col class="text-set">
            <div>
              50
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>

        </ion-row>

        <ion-row class="cell-class ion-grid-content">
          <ion-col>
            <div class="color-style">
              Blogs
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>

        </ion-row>

        <ion-row class="cell-class ion-grid-content">
          <ion-col>
            <div class="color-style">
              Knolx/meetup
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>

        </ion-row>

        <ion-row class="cell-class ion-grid-content">
          <ion-col>
            <div class="color-style">
              Webinar
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>

        </ion-row>

        <ion-row class="cell-class ion-grid-content">
          <ion-col>
            <div class="color-style">
              TechHub Templates
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>
          <ion-col>
            <div>
            </div>
          </ion-col>

        </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-grid>


</ion-content>
