.round-number-element {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: white;
  color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.label {
  font-size: 0.8rem;
}
