<app-headers [backBtn]=true></app-headers>
<ion-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-11 mx-auto">
                <h1 class="pb-3 mb-4">Why Leaderboard?</h1>
                <p class="">
                    At Knoldus, we would like to motivate every engineer to do better than what they are doing right
                    now. We would like them to create a brand for themselves in the technology industry. For this, we would
                    like them to be outward focussed as well apart from the project work. The Knoldus leaderboard tries to give
                    engineers cue to keep improving on a daily basis.
                </p>
                <div class="col-12 col-lg-6 mx-auto mb-4">
                    <img alt="leaderboard improvement graph" src="./assets/icon/knoldus-leaderboard-graph.png">
                </div>
                <p>
                    Studies show that a 1% improvement per day makes an engineer hugely successful as compared to a 1%
                    decline.
                </p>
                <p>
                    Leaderboard encourages Knolder’s to make just 1% progress per day and builds upon that every day.
                    Doing so has a profound effect. In a year’s time it results in making teams 37x better (not merely
                    365%).
                </p>
                <blockquote>
                    <p>
                        “Wake up every day and ask yourself not only what is the 1% improvement I can change to make my
                        client engagement better, make Knoldus better, make my team better but also what is the 1%
                        improvement I can change to make myself better personally and professionally?”
                    </p>
                </blockquote>
                <p>
                    With the leaderboard, the engineers would be able to get a cue as to where they are. They would get
                    a craving to improve. This craving would result in a response. The end result is the reward of
                    having a successful position on the leaderboard and other benefits.
                </p>
            </div>
        </div>
    </div>

</ion-content>
