.user-table-row {
  color: inherit;
  font-size: 0.9rem;
  border-top: 1px  solid lightgrey;

  div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .actions {
    img {
      opacity: 0.5;
    }
  }

  &:hover {
    .actions {
      img {
        opacity: 1;
      }
    }
  }
}

.light-text {
  color: #acacac;
}
