<div *ngIf="knolderDetails" class="block px-2">
    <div class="block-title col-12">
        <h2>Details</h2>
    </div>
    <div *ngFor="let knolderData of knolderDetails.scoreBreakDown; let index = index">
        <h3 class="detail-type">
      <span
              [ngStyle]="{'background-color': contributionsTypeColorList[index]}"
              class="contribution-type badge text-light">
      {{knolderData.contributionType}}
      </span>
        </h3>
        <div *ngIf="knolderData.contributionDetails.length !== 0" class="row ml-xl-1">
            <div class="col-8 col-md-8"><h4>Title</h4></div>
            <div class="col-4 col-md-4 text-right text-xl-center"><h4>Date</h4></div>
        </div>
        <div *ngIf="knolderData.contributionDetails.length === 0">
            <span class="text-secondary font-italic">No details to display</span>
        </div>
        <div *ngFor="let knolderDetails of knolderData.contributionDetails"
             class="detail-row row pt-3 ml-xl-1">
            <div [innerHTML]="knolderDetails.title" class="col-8 col-md-8"></div>
            <div class="col-4 col-md-4 text-right text-xl-center">
                {{knolderDetails.date | date:'dd-MMM-yyyy'}}
            </div>
        </div>
    </div>
</div>
