<!--<script src="../../../../node_modules/@swimlane/ngx-charts/release/events.js"></script>-->
<!--<div class="card chk-block">-->
<!--  <div class="card-head d-flex justify-content-between pt-3 pb-2 px-3 bg-white mt-n4 mx-3">-->
<!--    <div class="align-self-center">-->
<!--      <h2 class="font-weight-normal">$40,583</h2>-->
<!--      <h4 class="font-weight-normal m-0">Total Sales</h4>-->
<!--    </div>-->
<!--    <h5 class="align-self-center"> <i class="material-icons font-xl">donut_small</i></h5>-->
<!--  </div>-->
<!--  <div class="card-body p-0">-->
<!--    <div class="w-100" style="height: 130px;">-->
<!--&lt;!&ndash;      <h5 class="py-3 px-4 font-weight-normal">Product Sales</h5>&ndash;&gt;-->
<!--      <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="refunds" [barPadding]="16">-->
<!--      </ngx-charts-bar-vertical>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card chk-block">-->
<!--  <div class="card-head d-flex justify-content-between pt-3 pb-2 px-3 bg-white mt-n4 mx-3">-->
<!--    <div class="align-self-center">-->
<!--      <h2 class="font-weight-normal">$40,583</h2>-->
<!--      <h4 class="font-weight-normal m-0">Total Sales</h4>-->
<!--    </div>-->
<!--    <h5 class="align-self-center"> <i class="material-icons font-xl">donut_small</i></h5>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="card-body p-0">&ndash;&gt;-->
<!--    <div class="w-100">-->
<!--      <h5 class="py-3 px-4 font-weight-normal">Product Sales</h5>-->
<div class="card border-0" style="height: 300px">
      <ngx-charts-bar-vertical  [scheme]="colorScheme" [results]="result" [barPadding]="16"
      [yAxis]="true" [xAxis]="true" [trimXAxisTicks]="" showXAxisLabel="false" showYAxisLabel="true" xAxisLabel="month" yAxisLabel="scores"
      >
      </ngx-charts-bar-vertical>
</div>
<!--    </div>-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
