<div>
    <div class="sidebar">
        <div class="sidebar-logo-container">
            <a routerLink="./"><img alt="knoldus-logo" class="sidebar-logo"
                                    src="../../../assets/icon/knoldus-logo-transparent.png"></a>
        </div>
        <div class="sidebar-content-container">
            <div *ngFor="let data of sideBarData" [routerLink]="data.link" class="sidebar-content">
                <img [alt]=" data.title + '-logo'" [src]="data.titleIcon" class="sidebar-content-logo"/>
                <span>{{data.title}}</span>
            </div>
        </div>
    </div>
</div>
