<ion-content class="page-wrapper">
    <div class="container-fluid col-12 col-xl-11">
        <div class="row mb-2 mt-2">
            <div class="col-12 col-lg-6 d-flex align-self-end">
                <div *ngIf="knolderDetails" class="page-title w-100 pb-2">
                    {{knolderDetails.knolderName}}
                </div>
            </div>
            <div class="col-12 col-lg-3 mx-auto mt-3 mt-lg-0" *ngIf="medalTally">
                <app-medal-tally [medalTally]="medalTally"></app-medal-tally>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card tab-bar border-0 mt-4 pr-2">
                    <div class="row justify-content-end justify-content-sm-center p-1">
                        <form [ngClass]="{'monthSelected' : !allTimeSelected}" class="mr-2  mt-1">
                            <label>
                                <input (bsValueChange)="onDateChange($event)"
                                       [bsConfig]="datepickerConfig"
                                       [formControl]="datePicker"
                                       [maxDate]="currentDate"
                                       autocomplete="off"
                                       bsDatepicker
                                       class="form-control text-center"
                                       name="date"
                                       readonly>
                            </label>
                        </form>
                        <div>
                            <button (click)="setAllTimeDetailsOnClick()"
                                    [ngClass]="{'btn-primary': allTimeSelected}"
                                    class="all-time-btn btn btn-primary px-1 mr-2 mt-1">
                                All time
                            </button>
                        </div>
                    </div>
                </div>
                <app-score-drilldown [knolderDetails]="knolderDetails"></app-score-drilldown>
                <app-score-details [contributionsTypeColorList]="contributionsTypeColorList"
                                   [knolderDetails]="knolderDetails"></app-score-details>
            </div>
            <div class="col-12 col-lg-6">
                <div *ngIf="hallOfFameLeaders" class="badge-details col-12 mt-4 card block border-0 col-xl-10 mx-auto pl-2">
                    <div class="block-title d-flex justify-content-between pt-3 pb-2 px-2 bg-white">
                        <div class="align-self-center">
                            <h4 class="font-weight-normal m-0">Badges</h4>
                        </div>
                    </div>
                    <div class="badge-details-table">
                        <app-badge-detail-table [knolderAchievements]="knolderAchievements"></app-badge-detail-table>
                    </div>
                </div>
                <div *ngIf="trendsData" class="col-12 text-center block card border-0 mt-4 col-xl-10 mx-auto ">
                    <div class="block-title d-flex justify-content-between pt-3 pb-2 px-2 bg-white mb-3">
                        <div class="align-self-center">
                            <h4 class="font-weight-normal m-0">Trends</h4>
                        </div>
                    </div>
                    <app-vertical-bar-graph [trendsData]="trendsData"></app-vertical-bar-graph>
                </div>
                <div *ngIf="allTimeDetails" class="col-12 mt-5 card block border-0 col-xl-10 mx-auto pl-2">
                    <div class="block-title d-flex justify-content-between pt-3 pb-2 px-2 bg-white">
                        <div class="align-self-center">
                            <h4 class="font-weight-normal m-0">All Time</h4>
                        </div>
                    </div>
                    <app-pie-chart [inputResult]="pieChartData"></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
</ion-content>
